<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<!-- <servlet>
		<servlet-name>number</servlet-name>
		<servlet-class>servlet.MultipleNumber</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>number</servlet-name>
		<url-pattern>/multiple</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>value</servlet-name>
		<servlet-class>servlet.PassMultipleValue</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>value</servlet-name>
		<url-pattern>/pa</url-pattern>
	</servlet-mapping> -->
</web-app>